.notice {
  padding: 100px 50px;
}
.notice h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.notice table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.notice table thead tr th {
  border: 1px solid #ddd;
}
.notice table thead tr th:nth-child(1) {
  width: 5%;
}
.notice table thead tr th:nth-child(2) {
  width: 65%;
  text-align: center;
  padding: 5px 0;
}
.notice table thead tr th:nth-child(3) {
  width: 10%;
}
.notice table thead tr th:nth-child(4) {
  width: 10%;
}
.notice table thead tr th:nth-child(5) {
  width: 10%;
}
.notice table thead tr td:nth-child(2) {
  text-align: left;
}
.notice p {
  text-align: center;
}
